# Python / Virtual Environment
.venv/
__pycache__/
*.pyc
.pytest_cache/
.coverage

# Node / Frontend
frontend/node_modules/
frontend/dist/

# Raw Datasets & Local Storage (DO NOT PUSH DATA)
data/
*.csv
*.parquet
*.dcm
*.sqlite3

# OS Files
.DS_Store
Thumbs.db